/**
 * @file game.css
 * @author Kevin Ma kma45@my.centennialcollge.ca
 * @studentID 300867968
 * @date September 17, 2016
 * @description This file is the main styling sheet for the game
 * @version 0.1.0
 */

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.game{
    width:100vw;
}

canvas{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: grey;
    margin: 0 auto;
    display: block;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */